nav.nav
  a.navbar-brand appi
  div.justify-content-end
    ul.navbar-nav
      li.nav-item
        a.nav-link.visited(href="index.html") home
      li.nav-item
        a.nav-link(href="about.html") about

section.about-header
  div.col-xs-12.offset-md-2.col-md-5
    h1 THE APPS ARE CHANGING. BE A PART OF IT.
    h4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    div.header-btn
      a.btn.btn-secondary.btn-lg
        i.icon-download.pull-left
        | learn more