section.service
  div.container-fluid
    hr.blue-hr
    h2 NEQUE PORRO QUISQUAM EST QUI DOLOREM IPSUM.
    h3 Want to know more?
    div.container
      div.service
        i.icon.icon-laptop
        h4 SERVICE ITEM 1.
        p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
      div.service
        i.icon.icon-phone
        h4 SERVICE ITEM 2.
        p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
      div.service
        i.icon.icon-fire
        h4 SERVICE ITEM 3.
        p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
      div.service
        i.icon.icon-camera
        h4 SERVICE ITEM 4.
        p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
