.applink {
  form {
    select {
      text-align: center;
      padding: 0;
      border-right-color: transparentize(grey, .9);
    }
    input[type="tel"] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //border-right: transparent;
      //border-left-color: transparentize(grey, .9);
    }
    input[type="submit"] {
      background-color: $accent-color;
      color: white;
      text-transform: capitalize;
      border-color: $accent-color;
      border-radius: 0;
      &:hover {
        background-color: lighten($accent-color, 10%);
      }
    }
    .form-control {
      height: 46px !important;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-family: 'Open Sans', sans-serif;
      &:hover, &:focus {
        border-color: $accent-color;
      }

    }

    .form-control, select, input {
      @include phone-only {
        margin-bottom: 10px;
        border-color: rgba(0, 0, 0, 0.14902);
        border-radius: 4px;
      }
    }
  }
  @include phone {
    padding: 1.5em 0;
    text-align: center;
  }
  @include desktop { padding: 5em 0; }
}