section.app#about
  div.container-fluid
    div.row.app-wrapper
      div.col-xs-12.offset-md-1.col-md-5.offset-lg-3.col-lg-4
        h2 your app now
        hr.blue-hr
      div.col-xs-12.offset-md-1.col-md-5.offset-lg-0.col-lg-4
        h3 Lorem Ipsum Dolor Sit.
        h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    div
      img.img-fluid.py-5(src="img/v2/iphone6.min.png")
    div.row.rows-wrapper.app-text
      div.characteristic.col-xs-12.col-md-6
        i.icon.icon-check.col-xs-12.col-sm-3
        div.side-text.col-xs-12.offset-sm-1.col-sm-8.col-md-9
          h5 ios ready
          p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      div.characteristic.col-xs-12.col-md-6
        i.icon.icon-calendar.col-xs-12.col-sm-3
        div.side-text.col-xs-12.offset-sm-1.col-sm-8.col-md-9
          h5 up to date
          p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      div.characteristic.col-xs-12.col-md-6
        i.icon.icon-user.col-xs-12.col-sm-3
        div.side-text.col-xs-12.offset-sm-1.col-sm-8.col-md-9
          h5 multiple users
          p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      div.characteristic.col-xs-12.col-md-6
        i.icon.icon-clock.col-xs-12.col-sm-3
        div.side-text.col-xs-12.offset-sm-1.col-sm-8.col-md-9
          h5 on time
          p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.