section.details
  div.container-fluid
    div.row.details-wrapper
      div.col-xs-12.col-md-6
        h2 details
        hr.blue-hr
        h3 All what you want in your phone
        h4 Now with Appi you have it on your fingertips.
        div.rows-wrapper.py-5
          div.row.characteristic
            i.icon.icon-globe.col-xs-12.col-sm-3
            div.side-text.col-xs-12.offset-sm-1.col-sm-8
              h5 worldwide
              p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          div.row.characteristic
            i.icon.icon-eye.col-xs-12.col-sm-3
            div.side-text.col-xs-12.offset-sm-1.col-sm-8
              h5 privacy
              p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          div.row.characteristic
            i.icon.icon-bubble.col-xs-12.col-sm-3
            div.side-text.col-xs-12.offset-sm-1.col-sm-8
              h5 social integration
              p.side-text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

      div.col-xs-12.col-md-4.offset-lg-1
        img.img-details-phone(src="img/v2/iphone-bg-lg.min.png")