.icon {
  max-width: 60px;
  height: 60px;
  border: 1px lightgray solid;
  border-radius: 2px;
  background: no-repeat center center;
  vertical-align: top;
}


.down-arrow {
  background-image: url('../img/svg/down-arrow.svg');
}

.header-play-icon {
  background-image: url('../img/svg/header-play.svg');
}

.header-phone-icon {
  background-image: url('../img/svg/header-phone.svg');
}

.icon-arrow-down {
  background-image: url('../img/svg/download.svg');
}

.icon-bubble {
  background-image: url('../img/svg/dialog.svg');
}

.icon-calendar {
  background-image: url('../img/svg/calendar.svg');
}

.icon-camera {
  background-image: url('../img/svg/camera.svg');
}

.icon-check {
  background-image: url('../img/svg/check.svg');
}

.icon-clock {
  background-image: url('../img/svg/clock.svg');
}

.icon-diamond {
  background-image: url('../img/svg/gem.svg');
}

.icon-download {
  background-image: url('../img/svg/download.svg');
}

.icon-eye {
  background-image: url('../img/svg/eye.svg');
}

.icon-fire {
  background-image: url('../img/svg/fire.svg');
}

.icon-frame {
  background-image: url('../img/svg/frame.svg');
}

.icon-globe{
  background-image: url('../img/svg/globe.svg');
}

.icon-loop {
  background-image: url('../img/svg/loop.svg');
}

.icon-laptop {
  background-image: url('../img/svg/laptop.svg');
}

.icon-phone {
  background-image: url('../img/svg/phone.svg');
}

.icon-user {
  background-image: url('../img/svg/user.svg');
}